*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(pic/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: fixed;
    font-family: sans-serif;
}

.navbar{
    width: 100%; /* Correction pour occuper toute la largeur */
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin-top: 0; /* Suppression du margin négatif */
    padding-left: 20px; /* Un peu d'espacement à gauche si besoin */
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    transition: .4s ease;
}

ul li a:hover{
    color: rgb(230,104,59);
}

.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: rgb(36,32,30);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: rgb(230,104,59);
}

.info a{
    text-decoration: none;
    color: #fff;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}

.info a:hover{
    background: rgb(59,174,209);
}

.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}

.image:hover .girl{
    left: 55%;
}

.icons a{
    text-decoration: none;
    color: #000;
}

.icons ion-icon{
    margin-left: 7%;
    margin-top: 40px;
    color: #000;
    margin-right: -60px;
    font-size: 40px;
    transition: .4s ease;
}

.icons ion-icon:hover{
    color: rgb(59,174,209);
}
#about, #work, #resume, #contact {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Légère ombre pour l'effet de profondeur */
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #555;
}
#about {
    padding: 20px;
}

.about-container {
    display: flex;
    align-items: center; /* Pour aligner l'image et le texte verticalement au centre */
    gap: 20px; /* Espace entre l'image et le texte */
}

.about-container img {
    max-width: 200px; /* Définir une taille maximale pour l'image */
    height: auto; /* Maintenir les proportions de l'image */
}

.about-text {
    max-width: 600px; /* Limiter la largeur du texte */
}
